.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #F8F8FF; /* Fondo más suave */
}

/* Estilos para Labels generales */
.label {
    -fx-font-size: 16px; /* Texto estándar */
    -fx-text-fill: #333;
    -fx-font-weight: bold; /* Texto en negrita */
}


.labelInicio {
    -fx-text-fill: #007BFF; /* Color azul para Labels de elección */
}

/* Estilos para Labels de inicio */


.text-field, .password-field {
    -fx-pref-width: 200px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D3D3D3; /* Borde gris claro */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-padding: 5px; /* Espacio interno */
}

.button {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px; /* Espacio interno más grande */
    -fx-border-radius: 5px; /* Bordes redondeados */
}

.button:hover {
    -fx-background-color: #005a9e;
}

.text {
    -fx-cursor: hand;
    -fx-text-fill: #0078d7;
    -fx-font-size: 14px;
}

.text:hover {
    -fx-underline: true;
    -fx-text-fill: #005a9e; /* Cambio de color al pasar el mouse */
}

.pane {
    -fx-background-radius: 10px; /* Bordes redondeados */
    -fx-padding: 10px; /* Espacio interno */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5); /* Sombra ligera */
    -fx-transition: all 0.3s ease; /* Transición suave */
}

.vender {
    -fx-background-color: #ADD8E6;
}

.vender:hover {
    -fx-background-color: #87CEEB; /* Cambio de color al pasar el mouse */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 10); /* Sombra más intensa */
}

.comprar {
    -fx-background-color: #FFD700;
}

.comprar:hover {
    -fx-background-color: #FFC107; /* Cambio de color al pasar el mouse */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 10); /* Sombra más intensa */
}

.editar {
    -fx-background-color: #89ac76;
}

.editar:hover {
    -fx-background-color: #7FBF7F; /* Cambio de color al pasar el mouse */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 10); /* Sombra más intensa */
}

.remover {
    -fx-background-color: #cb3234;
}

.remover:hover {
    -fx-background-color: #B22222; /* Cambio de color al pasar el mouse */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 10); /* Sombra más intensa */
}

.cerrar {
    -fx-text-fill: #393794;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.cerrar:hover {
    -fx-underline: true;
    -fx-text-fill: #2a2771; /* Cambio de color al pasar el mouse */
}
#favoritos {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Estilo para el botón de "Seleccionar" */
#seleccionar {
    -fx-background-color: #007BFF; /* Azul */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Estilo para el botón de "Anterior" y "Siguiente" */
#anterior, #siguiente {
    -fx-background-color: #DC3545; /* Rojo */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Estilo para el botón de "Reset" */
#resetButton {
    -fx-background-color: #6C757D; /* Gris */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Estilos para los ComboBox */
.combo-box {
    -fx-font-size: 14px;
}

/* Estilos para los CheckBox */
.check-box {
    -fx-font-size: 14px;
}

/* Estilo para el ListView */
.list-view {
    -fx-font-size: 14px;
    -fx-text-fill: black; /* Color de texto negro */
    
}

/* Efecto de resaltado en el ListView al pasar el mouse */
.list-view .list-cell:hover {
    -fx-background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

/* Estilo para el Text "Volver" */
#volver {
    -fx-font-size: 14px;
    -fx-fill: #007BFF; /* Color azul para el texto */
}


/* Estilo para los elementos del VBox */
.vbox > * {
    -fx-spacing: 10px; /* Espaciado entre elementos */
}

/* Estilo para los botones de paginación */
#anterior, #siguiente {
    -fx-background-color: #007BFF; /* Azul */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Efecto de resaltado en los botones de paginación al pasar el mouse */
#anterior:hover, #siguiente:hover {
    -fx-background-color: #0056b3; /* Azul más oscuro */
}

/* Estilo para los CheckBox */
.check-box {
    -fx-font-size: 14px;
    -fx-text-fill: #007BFF; /* Color azul para el texto */
}
.titulo {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}


.boton {
    -fx-background-color: #0078d7; /* Azul */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 90px;
}

.boton:hover {
    -fx-background-color: #005a9e; /* Azul oscuro al pasar el mouse */
}

.link {
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-fill: #0078d7; /* Azul */
}

.link:hover {
    -fx-underline: true;
    -fx-fill: #005a9e; /* Azul oscuro al pasar el mouse */
}